<!DOCTYPE html>
<html>
	<head>
		<title>Dosims</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	</head>
	<body>
		<div class='head'>
			<div class="title"><a class="title" href="/dosmis_zh_cn/"></a></div>
			<div class="mid_part">
				<div class="language">
					<ul>
						<li><a id='chinese' href="#"></a></li>
						<li><a id='english' href="#"></a></li>
						<li><a id='german' href="#"></a></li>						
					</ul>
				</div>
				<div class='navigation_bar'>
					<ul>
						<li><a id='product' href="/dosmis_zh_cn/products/">Produkte</a></li>
						<li><a id='learn' href="/dosmis_zh_cn/learn">Lehre</a></li>
						<li><a id='edu' href="/dosmis_zh_cn/edu">Schlung</a></li>
						<li><a id='project' href="/dosmis_zh_cn/projects">Projekte</a></li>
						<li><a id='university' href="/dosmis_zh_cn/about_the_uni">An der Uni</a></li>
						<li><a id='community' href='/dosmis_zh_cn/community'>Community</a></li>
					</ul>
				</div>
			</div>
			<div class='right_part'>
				<ul>
					<li><a id="login" href="#">Login</a></li>
					<li><a id="licence" href="#">Lizenz freischalten/Aktivierung</a></li>
					<form id='search_engine' action="#" method="post">
						<li class='search_panel'>Suche:
							<input type='textbox' value='Dein Suchbegriff' />
							<a id='search_submit' href="#"></a>
						</li>
					</form>
				</ul>
			</div>
		</div>
		<div class='body_panel'>
			<div class='info_board' id='slide_panel'>
				<div class='horizon_panel'>
					<div class='info_boardunit' id='software_cover'></div>
					<div class='info_boardunit' id='software_ui'></div>
					<div class='info_boardunit' id='software_detail'>
						<ul id='headline'>Die professionellste Simulationssoftware</ul>
						<ul id='signature'>Wir simulieren alles!</ul>
						<ul id='list'>
							<li>Präzise Ergebnisanalysierung</li>
							<li>Innerbetriebliche Logistiksimulation</li>
							<li>Objektorientiert</li>
							<li>Online Simulation (Debuggen mit Animation)</li>						
						</ul>
						<ul id='link'>
							<li><a id='all_detail' href='#'>Alle Details</a></li>
							<li><a id='download' href='/static/css/download/dosimis_3_6.2_setup.exe'>Jetzt kostenlos Download</a></li>
						</ul>
					</div>
				</div>
				<div class='horizon_panel'>
				</div>
				<div class='horizon_panel'>
				</div>
				<div class='horizon_panel'>
				</div>
				<div class='horizon_panel'>
				</div>					
				<div class='label'></div>
			</div>
			<div>
				<div class='info_board' id='platform'>
					<div class='pic' id='phone'></div>
					<div class='pic' id='computer'></div>
					<div class='describe'>Installationssystem:</div>
					<div class='pic' id='Android'><a id='link_android' href="#"></a></div>
					<div class='pic' id='iOS'><a id='link_ios' href=""></a></div>					
					<div class='pic' id='win'><a id='link_win' href=""></a><b>für Win7, Win10</b></div>
				</div>
				<div class='info_board' id='cooperation'>
					<div class='pic' id='company'></div>
					<div class='describe'>Kooperation und Unterstützung:</div>
					<div class='pic' id='uni_due'><a id="link_uni" href=""></a></div>
					<div class='pic' id='thys'><a id="link_thys" href=""></a></div>
					<div class='pic' id='vw'><a id="link_vw" href=""></a></div>
					<div class='pic' id='ensure'><a id="link_ensure" href=""></a></div>
					<div class='pic' id='tnt'><a id="link_tnt" href=""></a></div>						
				</div>
			</div>
			<div class='info_board' id='com_info'>
				<div class='pic' id='earth'></div>
				<div class='describe' id='headline_com_info'>SDZ International:</div>
				<div class='describe' id='add'>SDZ Deutschland (HQ):</br>
												SimulationsDienstleistungsZentrum SDZ GmbH</br>
												Hauert 20, 44227 Dortmund</br></br>
												SDZ China:</br>
												中国上海市静安区南京西路580号2309室，</br>
												200041 上海</br></br>
												SDZ France:</br>
												143 Avenue Charles de Gaulle</br>
												92200 NEUILLY-SUR-SEINE</br></br>
												SDZ Schweiz:</br>
												Schöneggstrasse 11 b</br>
												8630 Rüti ZH
				</div>
			</div>
			<div>
				<div class='info_board' id='payment'>
					<div class='pic' id='card'></div>
					<div class='describe'>SDZ Bank Information:</div>
					<div class='describe' id='card_no'>IBAN: 000000000000000000000</br>BIC:0000000000000000000000
					</div>
					<div class='pic' id='visa'></div>
					<div class='pic' id='mastercard'></div>
					<div class='pic' id='unionpay'></div>
					<div class='pic' id='wechat_pay'></div>
					<div class='pic' id='paypal'></div>
				</div>
				<div class='info_board' id='share'>
					<div class='pic' id='share_link'></div>
					<div class='describe'>SDZ Share:</div>
					<div class='pic' id='youtube'></div>
					<div class='pic' id='facebook'></div>
					<div class='pic' id='wechat_share'></div>
					<div class='pic' id='twitter'></div>					
				</div>
			</div>
		</div>
	</body>
</html>