<!DOCTYPE html>
<html>
	<head>
		<title>Dosims</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
		<script type="text/javascript" src='{% static 'js/learn_js.js' %}'></script>		
		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	</head>
	<body>
		<div class='head'>
			<div class="title"><a class="title" href="/dosmis_zh_cn/"></a></div>
			<div class="mid_part">
				<div class="language">
					<ul>
						<li><a id='chinese' href="#"></a></li>
						<li><a id='english' href="#"></a></li>
						<li><a id='german' href="#"></a></li>						
					</ul>
				</div>
				<div class='navigation_bar'>
					<ul>
						<li><a id='product' href="/dosmis_zh_cn/products">Produkte</a></li>
						<li><a id='learn' class="activated" href="/dosmis_zh_cn/learn">Lehre</a></li>
						<li><a id='edu' href="/dosmis_zh_cn/edu">Schlung</a></li>
						<li><a id='project' href="/dosmis_zh_cn/projects">Projekte</a></li>
						<li><a id='university' href="/dosmis_zh_cn/about_the_uni">An der Uni</a></li>
						<li><a id='community' href='/dosmis_zh_cn/community'>Community</a></li>				
					</ul>
				</div>
			</div>
			<div class='right_part'>
				<ul>
					<li><a id="login" href="#">Login</a></li>
					<li><a id="licence" href="#">Lizenz freischalten/Aktivierung</a></li>
					<form id='search_engine' action="#" method="post">
						<li class='search_panel'>Suche:
							<input type='textbox' value='Dein Suchbegriff' />
							<a id='search_submit' href="#"></a>
						</li>
					</form>
				</ul>
			</div>
		</div>
		<div class='body_panel'>
			<div class='info_board' id='main_board'>
				<div id='example'>Beispielsammlung</br>
					<a class='example_submit' id='give_submit' href="">Thema Eingeben</a>
					<a class='example_submit' id='send_submit' href="">Senden</a>
				</div>
				<div class='learn_headline'>案例教学</div>
				{% for model in learn_models %}
					<div class='learn_title' id='learn_title_{{ model.id }}' onclick="ShowDetail(this,{{ learn_models|length }})">{{ model.part_de }}</div>
					<div class='learn_detail' id='learn_detail_{{ model.id }}'>{{ model.part_describe_de }}
						<div class='learn_img' id='learn_img_{{ model.id }}' style="background-image:url({{ model.img }});"></div>
						<div class='learn_download' id='learn_download_{{ model.id }}'><a href="javascript:" onclick="Download('{{ model.download }}')">Beispieldatei Download</a></div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>