<!DOCTYPE html>
<html>
	<head>
		<title>Dosims</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	</head>
	<body>
		<div class='head'>
			<div class="title"><a class="title" href="/dosmis_zh_cn/"></a></div>
			<div class="mid_part">
				<div class="language">
					<ul>
						<li><a id='chinese' href="#"></a></li>
						<li><a id='english' href="#"></a></li>
						<li><a id='german' href="#"></a></li>						
					</ul>
				</div>
				<div class='navigation_bar'>
					<ul>
						<li><a id='product' class="activated" href="/dosmis_zh_cn/products">Produkte</a></li>
						<li><a id='learn' href="/dosmis_zh_cn/learn">Lehre</a></li>
						<li><a id='edu' href="/dosmis_zh_cn/edu">Schlung</a></li>
						<li><a id='project' href="/dosmis_zh_cn/projects">Projekte</a></li>
						<li><a id='university' href="/dosmis_zh_cn/about_the_uni">An der Uni</a></li>
						<li><a id='community' href='/dosmis_zh_cn/community'>Community</a></li>
					</ul>
				</div>
			</div>
			<div class='right_part'>
				<ul>
					<li><a id="login" href="#">Login</a></li>
					<li><a id="licence" href="#">Lizenz freischalten/Aktivierung</a></li>
					<form id='search_engine' action="#" method="post">
						<li class='search_panel'>Suche:
							<input type='textbox' value='Dein Suchbegriff' />
							<a id='search_submit' href="#"></a>
						</li>
					</form>
				</ul>
			</div>
		</div>
		<div class='body_panel'>
			<div class='info_board' id='main_board'>
				<div class='info_detail'>
					<div class='detail_img'></div>
					<div class='proj_img'></div>
					<div class='detail_describe'>Seit den Anfängen vor über 25 Jahren wurde DOSIMIS-3 von uns kontinuierlich weiterentwickelt und präsentiert sich heute als eines der leistungsstärksten Simulationswerkzeuge überhaupt.</br></br>DOSIMIS-3 zeichnet sich aus durch seine einfache und intuitive Bedienbarkeit, seine hohe Performance und nicht zuletzt durch seine umfangreichen Auswertungsmethoden und Statistiken. Als universell einsetzbares Tool ist es auf alle Anforderungen der Planung und Optimierung von Produktions-, Logistik- und Supply-Chain-Systemen zugeschnitten.</br></br>Der Anwender kann mit DOSIMIS-3 innerhalb von Minuten die Produktion eines Jahres, die gesamte Logistik einer Fertigung oder die Lagerprozesse vom Wareneingang über die Kommissionierung, Nachschubanforderung bis hin zum Warenausgang simulieren.
					</div>
				</div>
				<div class='proj_events'>
					<div class='events_head'>Events</div>
					<div class='events_describe'>LogiMAT 2017</br>14.-16.03.2017, Neue</br>Messe Stuttgart</br></br>transport logistic 2017</br>09.-12.05.2017, Messe</br>München</br></br>17. ASIM Fachtagung</br>20.-22.09.2017,</br>Universität Kassel
					</div>
					<div class='figure1'></div>
					<div class='figure2'></div>
					<div class='figure3'></div>
				</div>
			</div>
		</div>
	</body>
</html>