<!DOCTYPE html>
<html>
	<head>
		<title>Dosims</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	</head>
	<body>
		<div class='head'>
			<div class="title"><a class="title" href="/dosmis_zh_cn/"></a></div>
			<div class="mid_part">
				<div class="language">
					<ul>
						<li><a id='chinese' href="#"></a></li>
						<li><a id='english' href="#"></a></li>
						<li><a id='german' href="#"></a></li>						
					</ul>
				</div>
				<div class='navigation_bar'>
					<ul>
						<li><a id='product' href="/dosmis_zh_cn/products">Produkte</a></li>
						<li><a id='learn' href="/dosmis_zh_cn/learn">Lehre</a></li>
						<li><a id='edu' href="/dosmis_zh_cn/edu">Schlung</a></li>
						<li><a id='project' class="activated" href="/dosmis_zh_cn/projects">Projekte</a></li>
						<li><a id='university' href="/dosmis_zh_cn/about_the_uni">An der Uni</a></li>
						<li><a id='community' href='/dosmis_zh_cn/community'>Community</a></li>	
					</ul>
				</div>
			</div>
			<div class='right_part'>
				<ul>
					<li><a id="login" href="#">Login</a></li>
					<li><a id="licence" href="#">Lizenz freischalten/Aktivierung</a></li>
					<form id='search_engine' action="#" method="post">
						<li class='search_panel'>Suche:
							<input type='textbox' value='Dein Suchbegriff' />
							<a id='search_submit' href="#"></a>
						</li>
					</form>
				</ul>
			</div>
		</div>
		<div class='body_panel'>
			<div class='info_board' id='main_board'>
				<div id='subtitle'>
					Projekte Diskussion
				</div>
				<div id='project_headline'>
					<ul>
						<li id='headline_name'>Projektname</li>
						<li id='headline_support'>Unterstützung</li>
						<li id='headline_describe'>Projektbeschreibung</li>
						<li id='headline_link'>Diskussion</li>
					</ul>
				</div>
				{% for project_model in project_models %}
					<div class='proj_no'>{{ project_model.id }}.</div>
					<div class='proj_name'>{{ project_model.projectName}}</div>
					<div class='proj_support'>{{ project_model.support }}</div>
					<div class='proj_describe'>{{ project_model.projectDescribe }}</div>
					<div class='proj_links'>
						<a class='proj_discuss' href="{{ project_model.id }}">Diskussion</a>
						<a class='proj_detail' href="{% url 'detail' project_model.id %}">Details</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>